---
- name: Install and start nginx
  hosts: soldesk
  become: true

  tasks:
    - name: Install epel-release
      ansible.builtin.dnf:
        name: epel-release
        state: present

    - name: Install nginx
      ansible.builtin.dnf:
        name: nginx
        state: present

    - name: Copy nginx index.html
      ansible.builtin.copy:
        src: index.html
        dest: /usr/share/nginx/html/index.html
        mode: '0644'

    - name: Start and enable nginx service
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true

    - name: Open http firewall
      ansible.posix.firewalld:
        service: http
        permanent: true
        state: enabled
        immediate: true
